@import 'antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
}

body {
    background: white;
    position: relative;
}

iframe {
    display: none;
}